/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    
}

/* Apply styles to the wrapper */
.wrapper {
    height: 100vh;
    background-image: url('../images/pexels-photo-1414651.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Center the content vertically and horizontally */
.wrapper-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infotext {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #333;
}

.infotext .gradient-text {
    background: linear-gradient(90deg, #D63031 , #fd5a28 , #D63031 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Style the form container */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Use rgba for transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limit the width of the form */
    width: 90%; /* Make the form width responsive */
    height: 60vh; /* Limit the height of the form */
    position: relative;
}
.form .customicon{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.customicon:hover{
    transform: scale(1.1);

}
/* Style the input fields */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}
.input-container input::placeholder {
    text-align: center; /* Center the text horizontally */
    line-height: normal; /* Reset line-height to normal */
    opacity: 0.5; /* Adjust the opacity of the placeholder text */
}
/* Style the forgot password link */
.form a {
    text-align: right;
    margin-bottom: 15px;
 
    color: black;
}

/* Style the login button */
.form button {
    width: 100%;
    padding: 10px;
    background-color: #D63031; /* Blue color for the button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form button:hover{
    transform: scale(1.1);
    background-color: #c42c2c ;
}
/* Style the line between the form and other methods */
.lineothers {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    background-color: #D63031;
    margin: 20px 0;
    width: 100%;
    margin-top: 20px;

}

.lineothers p {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    z-index: 1;
    background-color: #D63031;
}

/* Style the other methods container */
.othermethods {
    text-align: center;
}

/* Style the icon container */
.icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.1);
   
}.icon1 {
    position: absolute;
    left: 5px;
    top: 0;
    display: inline-block;
    font-size: 33px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.input-container:focus-within .icon1,
.input-container input:not(:placeholder-shown) + .icon1 {
  opacity: 0;
}


  

/* Media Query for smaller screens */
@media screen and (max-width: 800px) {
    .form {
        width: 100%; /* Make the form full-width on smaller screens */
    }
}

@media (max-height:650px){
    .form{
        height: 100vh;
    }
   
}

@media (max-height:400px){

    .form{
        height: 120vh;
     
    }
    
}