.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.container h2{
    margin-bottom: 50px;
}
.container--features {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.container h2 .gradient-text {
  background: linear-gradient(90deg, #D63031 , #fd5a28 , #D63031 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#card {
    position: relative;
    background: white;
  }
  
  #card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
    filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
  }
  
  #card:hover::before {
    opacity: 1;
  }
  
#card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .container {
        min-height: 100vh; /* Adjust to your desired height */
        
    }
    .container h2{
      margin-top: 150px;
    }
    .container--features {
        gap: 40px;
        flex-direction: column;
    }

    #card {
        align-self: stretch; /* Cards will be in columns without moving up */
    }
}
